.close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 15px;
    width: 15px;
}

.log-wrapper {
    padding-top: 20px;
}

.log-to-show {
    white-space: pre-wrap;
    min-height: 100px;
}
